<h5>Room Index</h5>
<ul class="collection">
  <%= for room <- @rooms do %>
    <li class="collection-item">
      <%= room.title %>
    </li>
  <% end %>
</ul>

<div class="fixed-action-btn">
  <%= link to: room_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
